.c-DashboardView-content {
  .c-DashboardView-breadcrumb {
    padding-left: 30px;
    margin-left: 25%;

    .c-DashboardView-breadcrumb-menu {
      color: #666666;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
    }
    .c-breadcrumb-menu-1 {
      padding-right: 10px;
    }
    .c-breadcrumb-menu-2 {
      padding-left: 10px;
    }
  }
  .c-DashboardView-content-area {
    margin-left: 25%;
  }
}