.c-DashboardNavbar {
  padding: 20px 30px 21px 30px;
  height: 70px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  @media (max-width: 640px) {
    width: 100%;
    margin-left: 0%;
  }
  .c-CreateEvent{
    outline: 0px !important;
  }
  .c-DashboardNavbar-pic {
    width: 50px;
  }
}