.c-profileForm {
  margin-left: 25%;
  .c-profileForm-container {
    padding: 25px;
    margin-left: 25%;
    box-shadow: 0 0 4px 2px rgba(38,153,251,.18);

    .c-profileForm-fullname >{
      div {
       width: 48%;
     }
   }
  }
}