.c-profileForm {
  @media (max-width: 640px) {
    margin: 0% auto;
    width: 90%;
  }
  .c-profileForm-container {
    padding: 25px;
    box-shadow: 0 0 4px 2px rgba(38,153,251,.18);
    @media (max-width: 640px) {
      margin: 0% 0% 5em;
    }

    .c-profileForm-fullname >{
      div {
       width: 48%;
       @media (max-width: 640px) {
         width: 100%;
       }
     }
   }
  }
}